<VirtualHost *:8081>
  DocumentRoot /var/www/dynamic
  <Directory /var/www/dynamic>
    Options +Indexes +FollowSymLinks +MultiViews
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>
